@import "../../../scss/Variables.scss";
@import "../../../scss/Mixin.scss";
header{
    @include flex(space-between,center);
    padding: 10px 80px ;
    background-color: $clr-background-pale;
    box-shadow: 0 5px 15px $clr-shadow;
    z-index: 9999;
    position: sticky;
    top: 0;
    height: 10vh;
    left: 0;
}

header nav .nav{
    @include flex(space-between,center);
    flex-direction: row-reverse;
    li{
        padding: 0px 20px;
        position: relative;
        a{
            font-size: 16px;
            font-weight: 600;
            color: $clr-black-a;
            transition: 0.3s;
          
        }
    }
}
header  ul li a:hover,
header  ul li a.active{
    color: $clr-main;
}

header  ul li a:hover:after,
header  ul li a.active:after{
    content: "";
    position: absolute;
    width: 30%;
    height: 2.5px;
    background-color: $clr-main;
    bottom: -4px;
    right: 20px;
}
header  ul li a i{
    margin-left: 5px;
    line-height: 10px;
    font-size: 18px;
    bottom: -10px;  
}
header .logo{
    width: 65px;
    height: 65px;
}
header .logo img{
    width: 100%;
    height: 100%;
  
}
header .toggle{
    display: none;
}
header .show{
    display: none;
}
@media screen and (max-width:768px) {
    header .toggle{
        display: block;
        font-size: 35px;
        color: $clr-black-pale;
    }
    header ul.nav{
        display: none;
    }
    header ul.mobile-nav{
        height: 100vh;
        position: absolute;
        top: 10vh;
        text-align: right;
        padding-top: 40px;
        z-index: 100;
        padding-right: 20px;
        right: 0;
        flex-direction: row;
        animation: all 3s ease;
        width: 50%;
        background-color: $clr-background-pale;
    }
   
    header ul.mobile-nav::after{
        content: "";
        z-index: 50;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.678);
        top: -10vh;
        right:100%;
    }
    header ul.mobile-nav li{
        margin-bottom: 25px;
        font-size: 18px;

    }
}
@media screen and (max-width:460px) {
    header{
        padding: 10px 20px;      
    }
    header ul.mobile-nav{
        width: 100%;
    }

}