@import "../../../scss/Mixin.scss";
@import "../../../scss/Variables.scss";

#hero{
    background-image:url("../../../../public/hero/equipment-researchers.jpg") ;
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @include flex(center,flex-end);
    text-align: right;
    flex-direction: column
}
#hero h4{
    font-size: 20px;
    color: $clr-black-pale;
    margin-bottom: 15px;
}
#hero h1{
    font-size: 40px;
    line-height: 64px;
    font-weight: 600;
    color: $clr-main;
}
#hero button{
    padding: 20px 40px;
    background-color: $clr-main;
    margin-top: 20px;
    color: $clr-white;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}

@media screen and (max-width:768px) {
    #hero{
        height: 70vh;
    }
    #hero  h2{
        font-size: 20px;
    }
    #hero h4{
        font-size: 18px;
    }
    #hero h1{
        font-size: 25px;
    }
}
@media screen and (max-width:460px) {
    #hero {
        padding: 40px 40px;
    }
    #hero  h2{
        font-size: 18px;
        
    }
    #hero h4{
        font-size: 16px;
    }
    #hero h1{
        font-size: 20px;
    line-height: 40px;

    }

}