@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&family=Rubik:ital,wght@1,300&family=Tajawal:wght@300&display=swap');
@import "./scss/Variables.scss";
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family: 'Rubik', sans-serif;
}
.section-p1{
  padding: 40px 80px;
}
.section-m1{
  margin: 40px 0;
}
button{
  border: none;
  outline: none;
  background: none;
}
button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid  #fff;
  outline: none;
  transition: 0.2s;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
