$clr-main:#088178;
$clr-background-body:#f9f9fb;
$clr-background-pale:#E3E6F3;
$clr-white:#fff;
$clr-black:#000;
$clr-black-pale:#222;
$clr-black-a:#1a1a1a;
$clr-grey:grey;
$clr-green:#08812c;
$clr-shadow:rgba(0,0,0,0.06)